img.wp-smiley,
img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important
}

.flex-direction-nav {
    display: none
}

body.custom-background {
    background-image: url("../images/background-mhmag1.jpg");
    background-position: right top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed
}

ul.social-links {
    margin: 10px 0;
}

ul.social-links li {
    padding: 0 10px;
    color: white;
}

/*View More Button */
.view-more-btn{
    float:right; 
    background-color:#ccc; 
    font-size:8pt; 
    padding:4px;
}